{% extends "base.html" %}

{% block lab %}Лабораторная работа 4 {% endblock %}

{% block main %}
    <div class="users-container">
        <h1>Список пользователей</h1>
        <ul>
            {% for user in users %}
                <li>{{ user['name'] }} ({{ user['login'] }})</li>
            {% endfor %}
        </ul>
        <div>
            <form action="/lab4/delete_user" method="post">
                <button class="danger-button">Удалить себя</button>
            </form>
        </div>
        <div>
            <form action="/lab4/edit_user" method="get">
                <button>Редактировать себя</button>
            </form>
        </div>
        <div>
            <form action="/lab4/login" method="get">
                <button>Назад к профилю</button>
            </form>
        </div>
    </div>
{% endblock %}