{% extends "base.html" %}

{% block lab %}Лабораторная работа 3{% endblock %}

{% block main %}
<h1>Заказ напитка</h1>

<form action="/lab3/pay">
    <div class="me1">
    <label>
        <input type="radio" value="coffee" name="drink" checked>Кофе(120 руб.)
    </label>
    <label>
        <input type="radio" value="black-tea" name="drink" checked>Черный чай(80 руб.)
    </label>
    <label>
        <input type="radio" value="green-tea" name="drink" cheked>Зеленый чай(70 руб.)
    </label>
    </div>

    <div class="dob">Добавки:</div>
    <div class="me2">
    <label>
        <input type="checkbox" name="milk">Молоко(+30 руб.)
    </label>
    <label>
        <input type="checkbox" name="sugar">Сахар(+10 руб)
    </label>
    </div>

    <div>
        <button type="submit">Заказать</button>
    </div>
</form>
{% endblock %}