{% extends "base.html" %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}
    <h1>Редактирование статьи</h1>

    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}

    <form method="post">
        <div>
            <label>
                Название статьи:
                <input type="text" maxlength="50" name="title" value="{{ article['title'] }}" required>
            </label>
        </div>

        <div>
            <label>
                Текст статьи:
                <textarea name="article_text" required>{{ article['article_text'] }}</textarea>
            </label>
        </div>

        <button type="submit">Сохранить</button>
    </form>
{% endblock %}