body {
    background-color: #f0f8ff; 
    color: #333; 
    font-family: Arial, sans-serif;
}

h1 {
    color: #006400;
}

img {
    width: 500px;
    height: auto; 
    border: 2px solid #000; 
    border-radius: 10px; 
}