body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background-color: #fce4ec; 
    color: #880e4f; 
    text-align: center;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 2px solid #f8bbd0; 
}

main {
    padding: 20px;
    background-color: #fff; 
    margin: 20px auto;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 10px;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
    color: #5e35b1; 
}

footer {
    background-color: #fce4ec;
    color: #880e4f;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: 14px;
}

a {
    color: #5e35b1; 
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #880e4f; 
    text-decoration: underline;
}

h1, h2 {
    color: #880e4f; 
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

sup {
    font-size: 16px;
    vertical-align: super;
    color: #d32f2f; 
}

ul {
    list-style-type: circle; 
    padding-left: 20px; 
    color: #5e35b1;
    margin-bottom: 20px; 
}

ul li {
    margin-bottom: 10px; 
    font-size: 18px; 
}

ol {
    list-style-type: decimal; 
    padding-left: 20px; 
    color: #5e35b1; 
    margin-bottom: 20px;
}

ol li {
    margin-bottom: 10px;
    font-size: 18px;
}

ol li:hover {
    color: #880e4f; 
}

div {
    background-color: #f3e5f5; 
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    border-left: 5px solid #ab47bc; 
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #fce4ec;
    color: #880e4f;
}

td {
    background-color: #fff;
}

tr:nth-child(even) td {
    background-color: #f9f9f9;
}

tr:hover td {
    background-color: #fce4ec;
    color: #880e4f;
}