{% extends "base.html" %}

{% block main %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список ягод</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <header>
        WEB-программирование, часть 2. Лабораторная работа 2
    </header>
    <h1>Список ягод</h1>
    <div class="berry-list">
        {% for berry in berries %}
        <div class="berry-item">
            <h2>{{ berry.name }}</h2>
            <img src="/static/{{ berry.image }}" alt="{{ berry.name }}">
            <p>{{ berry.description }}</p>
        </div>
        {% endfor %}
    </div>
    <footer>
        &copy; Виктория Смирнова, ФБИ-21, 3 курс, 2024
    </footer>
</body>
</html>
{% endblock %}