{% extends "base.html" %}

{# номер лабораторной работы: #}
{% block lab %} Лабораторная работа 8 {% endblock %}

{# основной контент: #}
{% block main %}
    <h1>База знаний</h1>
    {% if current_user.is_authenticated %}
        <div>Привет, {{ current_user.login }}!</div>
    {% else %}
        <div>Вы еще не вошли в аккаунт!</div>
    {% endif %}
    <form action="/lab8/search/" method="POST">
        <label>
            Поиск по статьям:
            <input type="text" name="query" placeholder="Введите строку для поиска" required>
        </label>
        <button type="submit">Найти</button>
    </form>
    <ol>
        <li><a href="/lab8/login">Вход</a></li>
        <li><a href="/lab8/register">Регистрация</a></li>
        <li><a href="/lab8/articles">Список статей</a></li>
        <li><a href="/lab8/create">Создать статью</a></li>
        <li><a href="/lab8/logout">Выход</a></li>
    </ol>
{% endblock %}  